body {
  background-color: wheat;
  font-family: cursive;
}

#quote-list {
  padding: 20px;
  background-color: cadetblue;
  border-radius: 14px;
  margin: auto;
}

.blockquote-footer {
  text-align: center;
  background-color: wheat;
  border-radius: 14px;
}

#new-quote-form {
  text-align: center;
  background-color: cadetblue;
  border-radius: 14px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  text-decoration: black;
}
