#quote-list {
  padding: 20px;
  background-color: cadetblue;
  border-radius: 14px;
}

.blockquote-footer {
  background-color: rgb(215, 224, 181);
  border-radius: 14px;
}

#new-quote-form {
  background-color: rgb(98, 112, 119);
  border-radius: 14px;
}

