body {
  background-color: wheat;
  font-family: cursive
}

#quote-list {
  padding: 20px;
  background-color: cadetblue;
  border-radius: 14px;
}

.blockquote-footer {
  text-align: center;
  background-color: rgb(215, 224, 181);
  border-radius: 14px;
}

#new-quote-form {
  background-color: rgb(98, 112, 119);
  border-radius: 14px;
}

h1 {
  text-align: center;
}

